/** CSS STYLE **/
@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:wght@400;700&display=swap");

/* Variables */
:root {
  --color-white: #fff;
  --color-ht-white: #d7ccc0;
  --color-light: #f5f4f0;
  --color-primary: #fe8a02;
  --color-primary-dark: #42413c;
  --color-dark: #2a2626;
  --color-ht-dark: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

/* Tag Common Rules */
* {
  margin: 0;
  padding: 0;
}

html {
  color: var(--color-dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  position: relative;
  line-height: 1.2em;
  font-family: Neucha, cursive;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  margin-bottom: 15px;
}

/* Generic classes */
.content {
  position: relative;
  width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
}

.bg-image::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.col {
  width: 540px;
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.btn {
  padding: 12px 24px;

  font-weight: 700;
  text-decoration: none;
}

.btn-orange {
  color: var(--color-white);

  text-transform: uppercase;

  background: var(--color-primary);
}

/* Atomic classes */
.flex-container {
  display: flex;
  justify-content: space-between;
}

.color-primary {
  color: var(--color-primary);
}

.color-ht-white {
  color: var(--color-ht-white);
}

.color-light {
  color: var(--color-light);
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.color-dark {
  color: var(--color-dark);
}

.color-ht-dark {
  color: var(--color-ht-dark);
}

.color-brown {
  color: var(--color-brown);
}

.color-blue {
  color: var(--color-blue);
}

.mr-30 {
  margin-right: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-200 {
  margin-bottom: 200px;
}
