/** CSS STYLE **/
@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:wght@400;700&display=swap");

/* Variables */
:root {
  --color-white: #fff;
  --color-ht-white: #d7ccc0;
  --color-light: #f5f4f0;
  --color-primary: #fe8a02;
  --color-primary-dark: #42413c;
  --color-dark: #2a2626;
  --color-ht-dark: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

/* Tag Common Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--color-dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.57em;
}

header,
section,
footer,
main {
  position: relative;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  position: relative;
  line-height: 1.2em;
  font-family: Neucha, cursive;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

p {
  margin-bottom: 15px;
}

/* Generic classes */
.content {
  position: relative;
  width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
}

.bg-image::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.col {
  width: 540px;
}

/* Header classes */
.header-image {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.btn {
  padding: 12px 24px;
  display: inline-block;
  margin: 0;
}

.btn-orange {
  color: var(--color-white);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--color-primary);
}

/* Video section classes */
.video-section > .content {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.video {
  position: relative;
  margin-bottom: -193px;
  z-index: 2;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

/* Navigation classes */
.navigation-section {
  padding-top: 100px;
}

.nav-element {
  display: block;
  width: 350px;
  height: 323px;
  padding: 24px;
  margin-bottom: 20px;
}

.nav-element:first-child {
  padding: 0;
}

.nav-header {
  font-size: 52px;
  color: var(--color-white);
}

.nav-card {
  background-color: var(--color-white);
}

.nav-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.nav-card-number {
  color: var(--color-dark);
  margin-bottom: 40px;
  font-family: Neucha, cursive;
  font-size: 64px;
  line-height: 1;
}

.nav-card-header {
  color: var(--color-primary);
  margin-bottom: 16px;
}

.nav-ul {
  margin-bottom: -20px;
}

/* Atomic classes */

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.color-primary {
  color: var(--color-primary);
}

.color-white {
  color: var(--color-white);
}

.color-ht-white {
  color: var(--color-ht-white);
}

.color-light {
  color: var(--color-light);
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.color-dark {
  color: var(--color-dark);
}

.color-ht-dark {
  color: var(--color-ht-dark);
}

.color-brown {
  color: var(--color-brown);
}

.color-blue {
  color: var(--color-blue);
}

.mr-30 {
  margin-right: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

.bg-light {
  background-color: var(--color-light);
}

.bg-dark {
  background-color: var(--color-dark);
}

.height-348 {
  height: 348px;
}
